# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Streamlit
.streamlit/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Builds
build/
dist/
*.spec

# Logs
*.log

# Reports
*.xlsx
*.xlsm
*.bcf
*.docx
*.doc
*.xls
